.table-container {
    width: 98%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.styled-table th, .styled-table td {
    border: 1px solid #c9c9c9;
    padding: 6px;
}

.styled-table thead {
    background: #f3f3f3;
    font-weight: bold;
}

.module-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.module-icon {
    font-size: 35px;
}